<section class="recipe-page">
  <div>
    <%= render 'shared/navbar' %>
  </div>

  <div class="main-page">
    <!---------- main list ------------->
    <div class="sub-page">
      <h2>My Recipes</h2>
      <!---------- add recipe button ------------->
      <div class="add-rep">
        <%= link_to new_recipe_path do %>
          <i class="fa-solid fa-plus"></i>
          add recipe
        <% end %>
      </div>

      <!---------- recipe list ------------->
      <div class="list-item">
        <% @recipes.each do |recipe| %>
          <span> <%= recipe.name %> save </span>
        <% end %>
      </div>
    </div>
  </div>
</section>
