<div
  data-controller="modal"
  data-modal-target="modal"
  data-action="click->modal#clickOutside"
  class=""
>
  <div class="">
    <div class="">
      <h3>Generating Shopping List</h3>
    </div>
  </div>
</div>
