/**************** mobile style ***************/
#login {
  background: url("login.png") no-repeat fixed center;
}

#register {
  background: url("register.png") no-repeat fixed center;
}

.nav-side {
  padding-top: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-side img {
  width: 50px;
  height: 40px;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

main h2 {
  text-transform: capitalize;
  font-size: 2.625rem;
  text-align: center;
  margin-top: 20px;
  color: #2e2f30;
}

form {
  margin: 2rem 0 0.965rem 0;
  background: #fff;
  padding: 0 4rem 2rem 2rem;
  border-radius: 12px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.4);
}

form .input-field {
  margin: 13px 0;
}

form label {
  color: rgb(55 65 81 / 1);
  font-weight: 500;
}

.input-field input {
  width: 100%;
  border-radius: 10px;
  color: rgb(55 65 81 / 1);
  line-height: 1.25;
  padding: 8px 12px;
  outline: none;
}

.actions {
  margin: 20px 0;
}

.actions .btn-submit {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 12px;
  background: #fdcd30;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.12rem;
}

.text-swap {
  text-align: center;
  font-size: 1.046rem;
  line-height: 1.3;
  color: #fff;
}

.text-swap a {
  color: #fff;
  letter-spacing: 0.1rem;
}

/************ message style ***********/

/**************** tablet style ***************/
@media only screen and (min-width: 768px) {
  .nav-side img {
    width: 80px;
    height: 70px;
    border-radius: 14px;
  }

  form {
    width: 550px;
  }

  .text-swap {
    font-size: 1.406rem;
  }
}
