/********* mobile style ***********/
nav {
  background: #2e2f30;
  height: 40px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 8px 14px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: #fff;
}

.sidebar li,
.sidebar a {
  /* width: 100%; */
  font-size: 22px;
  padding: 3px 0 2px 14px;
}

nav li:first-child {
  margin-right: auto;
}

#logo-tag {
  display: flex;
  align-items: center;
  gap: 8px;
}

#logo-tag img {
  width: 50px;
  height: 40px;
  border-radius: 10px;
}

.hideOnMobile {
  display: none;
}

.sidebar .btn-out {
  background: #f6120e;
  width: fit-content;
  padding: 6px;
  margin-top: 12px;
  border: none;
  border-radius: 4px;
  color: #e8e9ec;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 12px;
  height: 100vh;
  width: 100%;
  background: rgba(46, 47, 48, 0.43);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar.active {
  display: block;
}

.sidebar li span {
  font-size: 2.25rem;
  font-weight: 700;
}

.close-menu {
  margin-bottom: 20px;
}

/********* tablet style ***********/
@media only screen and (min-width: 768px) {
  nav {
    height: 70px;
  }

  #logo-tag img {
    width: 80px;
    height: 70px;
    border-radius: 14px;
  }

  .sidebar {
    width: 500px;
  }
}

/********* desktop style ***********/
@media only screen and (min-width: 1024px) {
  .hideOnMobile {
    display: block;
  }

  #user-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  #user-info span {
    background: #2563eb;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
  }

  .btn-out {
    background: #f6120e;
    width: fit-content;
    padding: 6px;
    border: none;
    border-radius: 4px;
    color: #e8e9ec;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
  }

  .menu-button {
    display: none;
  }

  .sidebar {
    display: none;
  }
}
